/* 
author: Amal Nair
git: @cold-magma
*/

body{
	animation: fade 1s ease-in-out forwards;
	margin:0;
	padding:0;
	background: #052235;
	transition: all 1s ease;
}
body::-webkit-scrollbar{
	width: 0.4rem;
}
body::-webkit-scrollbar-track{
	background: black;
	width: 100%;
}
body::-webkit-scrollbar-thumb{
	background: #292929;
	width: 60%;
}

p{
	font-family: montserrat, sans-serif;
	letter-spacing: 1px;
	color: #2196f3;
	font-weight: bold;
	text-align: center;
	margin-right: 20px;
}

.div1{
	display: flex;
	width: 100%;
	height: 90vh;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.div2{
	display: flex;
	width: 100%;
	height: 100vh;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.div3{
	display: flex;
	width: 100%;
	height: 10vh;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.div4{
	display: flex;
	width: 100%;
	height: 100vh;
	justify-content: center;
	align-items: center;
	text-align: center;
	background: linear-gradient(to right, #38AEAD, #39db75);
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
}
.div5{
	display: flex;
	background-position: fixed;
	width: 100%;
	height: 100vh;
	justify-content: center;
	align-items: center;
	text-align: center;
	background: url("../embtnbg.jpg");
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
}
.neon{
	display: inline-block;
	padding: 15px 30px;
	color: #2196f3;
	height: auto;
	font-family: montserrat, sans-serif;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 24px;
	transition: 1s;
	overflow: hidden;
	letter-spacing: 2px;
	
}
.neon:hover{
	color: #052235;
	background-color: #2196f3;
	transition-duration: 0.5s;
	box-shadow: 0 0 2px #2196f3, 0 0 5px #2196f3, 0 0 7px #2196f3, 0 0 20px #2196f3, 0 0 150px #2196f3;
	transition-timing-function: ease-in;
}

.scroll{
	width: 20%;
	height: 20%;
	animation: strok 5s ease infinite;
}

.pilot{
	display: inline-block;
	padding: 15px 30px;
	color: coral;
	height: auto;
}
.svgpilot{
	stroke-dasharray: 20px;
	stroke-linecap: 30px;
	transition: all 5s ease;
}
.svgpilot:hover{
	stroke-dasharray: 120px;
	stroke-linecap: 40px;
}
.breathe{
	display: inline-block;
	padding: 15px 30px;
	color: #2196f3;
	height: auto;
	font-family: 'Baloo Thambi 2', cursive;
	font-size: 2.5rem;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	overflow: hidden;
	font-weight: bolder;
	background: linear-gradient(to right, #38AEAD, #39db75);
	/*animation: colorshift 10s infinite;*/
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
	letter-spacing: 5px;
}
.empyrean{
	display: inline-block;
	padding: 15px 30px;
	color: #fff;
	height: auto;
	font-family: Bree Serif, serif;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 30px;
	transition: 1s;
	font-weight: bolder;
	overflow: hidden;
	letter-spacing: 1rem;
	
}
.activebg{
	background-color: #474747;
}
.activebg2{
	background-color: #193b75;
}
.activebg3{
	background-color: #4c2a9c;
}
@keyframes onclick{
	to{
		stroke-dasharray: 0px;
		stroke-linecap: 30px;

	}
}
@keyframes strok{
	0%{
		stroke-dasharray: 100px;
	}
	50%
	{
		stroke-dasharray: 15px;
	}
	100%{
		stroke-dasharray: 100px;
	}
}
@keyframes fade{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}
@keyframes colorshift{
	0%{
		background: #38AEAD;
		-webkit-background-clip:text;
		-webkit-text-fill-color:transparent;
	}
	20%{
		background: #39db75;
		-webkit-background-clip:text;
		-webkit-text-fill-color:transparent;
	}
	40%{
		background: #56eb31;
		-webkit-background-clip:text;
		-webkit-text-fill-color:transparent;
	}
	60%{
		background: #f8ff36;
		-webkit-background-clip:text;
		-webkit-text-fill-color:transparent;
	}
	80%{
		background: #ff6c36;
		-webkit-background-clip:text;
		-webkit-text-fill-color:transparent;
	}
	100%{
		background: #175dff;
		-webkit-background-clip:text;
		-webkit-text-fill-color:transparent;
	}
}