/* 
author: Amal Nair
git: @cold-magma
*/

body{
	animation: fade 1s ease-in-out forwards;
	margin:0;
	padding:0;
	background: #052235;
	transition: all 1s ease;
}
body::-webkit-scrollbar{
	width: 0.4rem;
}
body::-webkit-scrollbar-track{
	background: black;
	width: 100%;
}
body::-webkit-scrollbar-thumb{
	background: #505050;
	width: 60%;
}
p{
	font-family: montserrat, sans-serif;
	letter-spacing: 1px;
	color: #2196f3;
	font-weight: bold;
	text-align: center;
	margin-right: 20px;
	width: 80%;
}
.div1{
	display: flex;
	width: 100%;
	height: 80vh;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.div2{
	display: flex;
	width: 100%;
	height: 100vh;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.div3{
	display: flex;
	width: 100%;
	height: 10vh;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.div9{
	display: flex;
	width: 100%;
	height: 10vh;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	color: #2196f3;
}
.div4{
	display: flex;
	width: 100%;
	height: 100vh;
	justify-content: center;
	align-items: center;
	text-align: center;
	background: linear-gradient(to right, #38AEAD, #39db75);
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
}
.div5{
	display: flex;
	background-position: fixed;
	width: 100%;
	height: 100vh;
	justify-content: center;
	align-items: center;
	text-align: center;
	background: url("../embtnbg.jpg");
	background-attachment: fixed;
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
}
.div6{
	display: flex;
	width: 100%;
	height: 100vh;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.clicktext{
	height: auto;
	width: 50%;
	font-family: montserrat, sans-serif;
	text-align: center;
	text-transform: none;
	text-decoration: none;
	font-size: 0.85rem;
	letter-spacing: 2px;
	animation: pulse 5s ease infinite;
}
.neon{
	display: inline-block;
	padding: 15px 30px;
	color: #2196f3;
	height: auto;
	font-family: montserrat, sans-serif;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 24px;
	transition: 1s;
	overflow: hidden;
	letter-spacing: 2px;
	
}
.neon:hover{
	color: #052235;
	background-color: #2196f3;
	transition-duration: 0.5s;
	box-shadow: 0 0 2px #2196f3, 0 0 5px #2196f3, 0 0 7px #2196f3, 0 0 20px #2196f3, 0 0 150px #2196f3;
	transition-timing-function: ease-in;
}
.scroll{
	width: 20%;
	height: 20%;
	animation: strok 5s ease infinite;
}
.pilot{
	display: inline-block;
	padding: 15px 30px;
	color: coral;
	height: auto;
}
.svgpilot{
	stroke-dasharray: 20px;
	stroke-linecap: 30px;
	transition: all 5s ease;
}
.svgpilot:hover{
	stroke-dasharray: 120px;
	stroke-linecap: 40px;
}
.breathe{
	display: inline-block;
	padding: 15px 30px;
	color: #38AEAD;
	height: auto;
	font-family: Montserrat, sans-serif;
	font-size: 2.5rem;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	overflow: hidden;
	font-weight: bolder;
	background: linear-gradient(-45deg,#8E2DE2, #2adb71, #0575e6);
	background-size: 400% 400%;
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
	letter-spacing: 5px;
	animation: colorshift 7s ease infinite;
}
.empyrean{
	display: inline-block;
	padding: 15px 30px;
	color: #fff;
	height: auto;
	font-family: Bree Serif, serif;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 2.5rem;
	transition: 1s;
	font-weight: bolder;
	overflow: hidden;
	letter-spacing: 1rem;
	
}
.mirage{
	display: inline-block;
	padding: 15px 30px;
	color: #f3b48b;
	height: auto;
	font-family: Montserrat, serif;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 2.5rem;
	transition: 1s;
	font-weight: bolder;
	overflow: hidden;
	letter-spacing: 1rem;
	
}
.git_link{
	width: 100%;
	height: 5vh;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.gitlink{
	color: #f3b48b;
	font-family: Montserrat, serif;
	font-size: 0.5rem;
	text-decoration: none;
	text-transform: none;
	letter-spacing: 0.5rem;
	text-align: center;
}
.activebg{
	background-color: #474747;
}
.activebg2{
	background-color: #193b75;
}
.activebg3{
	background-color: #4c2a9c;
}
.activebg4{
	background-color: #543c2c;
}
@keyframes onclick{
	to{
		stroke-dasharray: 0px;
		stroke-linecap: 30px;
	}
}
@keyframes strok{
	0%{
		stroke-dasharray: 100px;
	}
	50%
	{
		stroke-dasharray: 15px;
	}
	100%{
		stroke-dasharray: 100px;
	}
}
@keyframes fade{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}
@keyframes colorshift{
	0%{
		background-position: 0% 50%;
	}
	50%{
		background-position: 100% 75%;
	}
	100%{
		background-position: 0% 50%;
	}
}
@keyframes pulse{
	0%{
		color: #2196f3;
		text-shadow: 0 0 5px #21f3bf, 0 0 20px #21f3bf, 0 0 50px #21f3bf, 0 0 150px #21f3bf;
	}
	20%{
		color: #74ee15;
		text-shadow: 0 0 5px #74ee15, 0 0 20px #74ee15, 0 0 50px #74ee15, 0 0 150px #74ee15;
	}
	40%{
		color: #ff6ec7;
		text-shadow: 0 0 5px #ffe700, 0 0 20px #ffe700, 0 0 50px #ffe700, 0 0 150px #ffe700;
	}
	60%{
		color: #f000ff;
		text-shadow: 0 0 5px #f000ff, 0 0 20px #f000ff, 0 0 50px #f000ff, 0 0 150px #f000ff;
	}
	80%{
		color: #ff073a;
		text-shadow: 0 0 5px #fe5970, 0 0 20px #fe5970, 0 0 50px #fe5970, 0 0 150px #fe5970;
	}
	100%{
		color: #2196f3;
		text-shadow: 0 0 5px #2196f3, 0 0 20px #2196f3, 0 0 50px #2196f3, 0 0 150px #2196f3;
	}
}