body{
	margin: 0;
	padding: 0;
	background-color: #474747;
	color: coral;
	justify-content: space-around;
	align-items: center;
	font-family: montserrat, sans-serif;
}

header{
	animation: comein 4s ease forwards;
	width: 100%;
	height: 20rem;
	justify-content: space-around;
	align-items: center;
	text-align: center;
}
.mainlogo{
	font-weight: bolder;
}
p{
	animation: fade 10s ease forwards;
	width: 100%;
	font-weight: bold;
	letter-spacing: 1px;
	text-align: center;
}
span{
	font-weight: bolder;
	animation: fade 1s infinite;
}
#rect{
	animation: fade 5s ease forwards;
	width: 100%;
	height: auto;
	top: 0;
}
#rect path{
	stroke-linejoin: 50px;
	animation: strokeanim 10s ease infinite;
}

@keyframes strokeanim{
	0%{
		stroke-dasharray: 85px;
		stroke-linecap: 30px;
	}
	20%{
		stroke-dasharray: 70px;
		stroke-linecap: 30px;
	}
	40%{
		stroke-dasharray: 65px;
		stroke-linecap: 30px;
	}
	60%{
		stroke-dasharray: 75px;
		stroke-linecap: 30px;
	}
	80%{
		stroke-dasharray: 80px;
		stroke-linecap: 30px;
	}
	100%{
		stroke-dasharray: 85px;
		stroke-linecap: 30px;
	}

}
@keyframes comein{
	from{
		letter-spacing: 200px;
	}
	to {
		letter-spacing: 20px;
	}
}
@keyframes fade{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}