/* 
author: Amal Nair
git: @cold-magma
*/

html{
	scroll-behavior: smooth;
}

body{
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	justify-content: space-around;
	background-color: #052235;
	font-family: montserrat, sans-serif;
	overflow-x: hidden;
}


/* scorll bars */
body::-webkit-scrollbar{
	width: 0.4rem;
}
body::-webkit-scrollbar-track{
	background: #052235;
	width: 100%;
}
body::-webkit-scrollbar-thumb{
	background: #2196f3;
	width: 60%;
}
body::-webkit-scrollbar-thumb:hover{
	background: #2196f3;
	box-shadow: 0 0 2px #2196f3, 0 0 5px #2196f3, 0 0 7px #2196f3, 0 0 20px #2196f3, 0 0 50px #2196f3, 0 0 250px #2196f3;
}
body::-webkit-scrollbar:horizontal{
	width: 0.4rem;
	height: 0.4rem;
}
body::-webkit-scrollbar-track:horizontal{
	background: #052235;
}
body::-webkit-scrollbar-thumb:horizontal{
	background: #2196f3;
}
body::-webkit-scrollbar-thumb:horizontal:hover{
	background: #2196f3;
	box-shadow: 0 0 2px #2196f3, 0 0 5px #2196f3, 0 0 7px #2196f3, 0 0 20px #2196f3, 0 0 50px #2196f3;
}
/* scorll bars end */


#navheader{
	margin-top: 0;
	padding-top: 0;
	background: #052235;
	color: #2196f3;
	width: 80%;
}

.navbar
{
	width: 100%;
	height: 15vh;
}
.navname{
	float: left;
	letter-spacing: 3px;
	font-weight: bolder;
	cursor: default;
	text-shadow: 0 0 5px #2196f3, 0 0 20px #2196f3, 0 0 50px #2196f3, 0 0 150px #2196f3;
	transition-duration: 1s;
}
.navname:hover{
	-webkit-animation: pulsate 2.5s ease-in-out;
    -webkit-animation-iteration-count: infinite; 
    opacity: 1;
    transition-duration: 1s;
}
nav{
	height: auto;
	float: right;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

nav ul {
	height: auto;
	list-style: none;
}

nav li {
	height: auto;
	display: inline-block;
}

.navlink{
	position: relative;
	display: block;
	padding: 15px 30px;
	color: #2196f3;
	height: 100%;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 1.5rem;
	transition: 1s;
	overflow: hidden;
	letter-spacing: 2px;
	
}
.navlink:hover{
	color: #052235;
	background-color: #2196f3;
	transition-duration: 0.5s;
	box-shadow: 0 0 2px #2196f3, 0 0 5px #2196f3, 0 0 7px #2196f3, 0 0 20px #2196f3, 0 0 150px #2196f3;
	transition-timing-function: ease-in;
}

.text1{
	animation: fade 1s ease-in-out forwards;
	padding: 15px 30px;
	color: #2196f3;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 2rem;
	width: 80%;
	text-align: justify;
	text-align:center;
	letter-spacing: 2px;
}

strong{
	font-weight: 2000;
}

.btn {
	width: 50%;
	justify-content: center;
	align-items:center;
}
.content{
	animation: fade 1s ease-in-out forwards;
	width: 80%;
	justify-content: space-around;
	height: auto;
	letter-spacing: 1px;
	line-height: 1.5rem;
	text-align: justify;
	color: #2196f3;
}

.text5{
	animation: fade 1s ease-in-out forwards;
	padding: 15px 30px;
	color: #2196f3;
	background: linear-gradient(to left,#30E8BF, #FF8235);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 1.5rem;
	font-weight: 5000;
	text-align:center;
	letter-spacing: 3px;
}

.text6{
	animation: fade 1s ease-in-out forwards;
	padding: 15px 30px;
	color: #2196f3;
	background: linear-gradient(to left,#FC466B, #3F5EFB);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 2rem;
	margin-bottom: 100px;
	font-weight: 5000;
	text-align:center;
	letter-spacing: 3px;
}

.text7
{
	animation: fade 1s ease-in-out forwards;
	color: #2196f3;
	margin-top: 300px;
	margin-bottom: 50px;
	text-transform: uppercase;
	text-decoration: none;
	text-align:center;
	font-size: 0.9rem;
	letter-spacing: 0.1rem;
}

.button {
	animation: fade 1s ease-in-out forwards;
	position: relative;
	display: block;
	padding: 15px 30px;
	color: #2196f3;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 2rem;
	transition: 1s;
	overflow: hidden;
	letter-spacing: 2px;	
}
.button:hover{
	color: #052235;
	background-color: #2196f3;
	transition-duration: 0.5s;
	box-shadow: 0 0 2px #2196f3, 0 0 5px #2196f3, 0 0 7px #2196f3, 0 0 20px #2196f3, 0 0 150px #2196f3;
	transition-timing-function: ease-in;
}
.link{
	width: 100%;
	height: 30px;
	margin-top: 100px;
}
.gitlink
{
	display: inline;
	padding-top: 30px;
	padding-bottom: 30px;s
	padding-right: 10px;
	padding-left: 10px;
	position: relative;
	color: #2196f3;
	font-size: 0.8rem;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	transition: 1s;
	font-weight: 2000;
	letter-spacing: 2px;
}
.gitlink:hover{
	-webkit-animation: pulsate 3s ease-in-out;
    -webkit-animation-iteration-count: infinite; 
    opacity: 1;
    transition-duration: 1s;
}

@media screen and (max-aspect-ratio: 9/15){
	.navbar
	{
		width: 100%;
		height: 20vh;
		display: flex;
		align-items: center;
		justify-content: space-around;
		flex-direction: column;
	}
	.navname{
		float: none;
		width: 100%;
		text-align: center;
	}
	nav{
		height: auto;
		width: 100%;
		float: none;
		padding-right: 10vw;
	}

	nav ul {
		width: 100%;
		height: auto;
		list-style: none;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
	}

	nav li {
		height: auto;
		display: flex;
		justify-content: space-around;
		align-items: center;
		width: 100%;
	}
	.navlink{
		font-size: 1rem;
		padding: 0;
		padding-top:15px;
		padding-bottom: 15px;
		width: 100%;
		text-align: center;
		letter-spacing: 2px;
	}
	#navheader{
		width: 100%;
		height: 20vh;
	}
	.button {
		font-size: 1rem;
	}
	.text5{
		font-size: 0.85rem;
	}
	.text6{
		font-size: 1rem;
	}
	.text1{
		font-size: 1rem;
	}
}

@keyframes fade{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}

@-webkit-keyframes pulsate {
    0% { 
        color: #2196f3;
        text-shadow: 0 0 5px #2196f3, 0 0 20px #2196f3, 0 0 50px #2196f3, 0 0 150px #2196f3;
    }
    50% { 
        color: #26f287;
        text-shadow: 0 0 5px #26f287, 0 0 20px #26f287, 0 0 50px #26f287, 0 0 150px #26f287;
    }
    100%{
    	color: #2196f3;
    	text-shadow: 0 0 5px #2196f3, 0 0 20px #2196f3, 0 0 50px #2196f3, 0 0 150px #2196f3;
    }
}