/* 
author: Amal Nair
git: @cold-magma
*/

html{
	scroll-behavior: smooth;
}
body{
	margin: 0;
	padding: 0;
	background-color: #474747;
	color: coral;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	font-family: montserrat, sans-serif;
}
body::-webkit-scrollbar{
	width: 0.4rem;
}
body::-webkit-scrollbar-track{
	background: #474747;
}
body::-webkit-scrollbar-thumb{
	background: coral;
}

header{
	width: 100%;
	height: 21rem;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.mainlogo{
	animation: comein 4s ease forwards;
	font-weight: bolder;
	text-align: center;
	width: 100%;
}
p{
	animation: fade 1s ease forwards;
	width: 80%;
	font-weight: bold;
	letter-spacing: 1px;
	line-height: 1.5px;
	text-align: center;
}
span{
	font-weight: bolder;
	animation: fade .95s infinite;
}

div{
	display: flex;
	width: 100%;
	padding: 5;
	align-items: center;
	text-align: center;
	justify-content: space-around;
	height: 10rem;
}
h3{
	font-weight: normal;
	letter-spacing: 1px;
}

.homelink{
	animation: fade 1s ease forwards;
	width: auto;
	padding: 5;
	height: 20px;
	top: 0;
}
.home {
	padding: 5;
	stroke-dasharray: 20px;
	stroke-linecap: 20px;
	transition: all 2s ease-out;
}
.home:hover{
	stroke-dasharray: 90px;
	stroke-linecap: 40px;
}
.aboutlink{
	animation: fade 1s ease forwards;
	width: auto;
	padding: 5;
	height: 20px;
	top: 0;
}
.about {
	padding: 5;
	stroke-dasharray: 20px;
	stroke-linecap: 50px;
	transition: all 2s ease-out;
}
.about:hover{
	stroke-dasharray: 90px;
	stroke-linecap: 80px;
}

#rect{
	animation: fade 1s ease forwards;
	width: 100%;
	height: auto;
	top: 0;
}
#rect path{
	animation: strokeanim 10s ease infinite;
}

#particles-js{
	width: 100%;
	height: 25rem;
	margin-top: 30vh;
	margin-bottom: 20vh;
	pointer-events: none;
	background-color: #474747;
}

.load{
	animation: fade 1s ease forwards;
	width: 100%;
	height: auto;
	margin-top: 50vh;
	margin-bottom: 30vh;
}
.loader {
	stroke-dasharray: 400px;
	stroke-linecap: 30px;
	transition: all 10s ease-in-out;
}
.loader:hover{
	stroke-dasharray: 4000px;
	stroke-linecap: 30px;
}

.inst{
	animation: fade 1s ease forwards;
	height: 50px;
	width: 100%;
	margin-top: 30vh;
	align-items: center;
	justify-content: center;
}
.arrow{
	animation: strok 2s ease infinite;
}
.link{
	width: 100%;
	margin:0;
	height: 50px;
	padding: 0;
	text-align: left;
	align-items: left;
	justify-content: space-around;
}
.gitlink
{
	display: inline;
	padding-top: 30px;
	padding-left: 5px;
	position: relative;
	color: coral;
	font-size: 0.8rem;
	text-align: left;
	text-transform: uppercase;
	text-decoration: none;
	transition: 1s;
	font-weight: 2000;
	letter-spacing: 2px;
}

@keyframes strok{
	0%{
		stroke-dasharray: 100px;
	}
	50%
	{
		stroke-dasharray: 65px;
	}
	100%{
		stroke-dasharray: 100px;
	}
}


@keyframes strokeanim{
	0%{
		stroke-dasharray: 85px;
		stroke-linecap: 30px;
	}
	20%{
		stroke-dasharray: 80px;
		stroke-linecap: 30px;
	}
	40%{
		stroke-dasharray: 75px;
		stroke-linecap: 30px;
	}
	60%{
		stroke-dasharray: 70px;
		stroke-linecap: 30px;
	}
	80%{
		stroke-dasharray: 80px;
		stroke-linecap: 30px;
	}
	100%{
		stroke-dasharray: 85px;
		stroke-linecap: 30px;
	}

}
@keyframes comein{
	from{
		letter-spacing: 100px;
		transform: translate(50px,0);
	}
	to {
		letter-spacing: 20px;
		transform: translate(0,0);
	}
}
@keyframes fade{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}