*{
	margin:0;
	padding: 0;
}
body{
	width: 150vw;
	height: 150vh;
	transform: translate(-35%,-5%);
	background: black;
	overflow: hidden;
}
.scene{
	position: absolute;
	width: 150%;
	height: 150vh;
}
.layers{
	position: absolute;
	top:0; 
	left:50%;
	width: 150%;
	height: 150vh;
}
#layer1{
	background: url(./layers/1.png) 150% 150% no-repeat;
	background-position: 50% 50%; 
	z-index: 12;
}
#layer2{
	background: url(./layers/2.png) 150% 150% no-repeat;
	background-position: 50% 50%; 
	z-index: 11;
}
#layer3{
	background: url(./layers/3.png) 150% 150% no-repeat;
	background-position: 50% 50%; 
	z-index: 10;
}
#layer4{
	background: url(./layers/4.png) 150% 150% no-repeat;
	background-position: 50% 50%; 
	z-index: 9;
}
#layer5{
	background: url(./layers/5.png) 150% 150% no-repeat;
	background-position: 50% 50%; 
	z-index: 8;
}
#layer6{
	background: url(./layers/6.png) 150% 150% no-repeat;
	background-position: 50% 50%; 
	z-index: 7;
}
#layer7{
	background: url(./layers/7.png) 150% 150% no-repeat;
	background-position: 50% 50%; 
	z-index: 6;
}
#layer8{
	background: url(./layers/8.png) 150% 150% no-repeat;
	background-position: 50% 50%; 
	z-index: 5;
}
#layer9{
	background: url(./layers/9.png) 150% 150% no-repeat;
	background-position: 50% 50%; 
	z-index: 4;
}
#layer10{
	background: url(./layers/10.png) 150% 150% no-repeat;
	background-position: 50% 50%; 
	z-index: 3;
}
#layer11{
	background: url(./layers/11.png) 150% 150% no-repeat;
	background-position: 50% 50%; 
	z-index: 2;
}
#layer12{
	background: url(./layers/12.png) 150% 150% no-repeat;
	background-position: 50% 50%; 
	z-index: 1;
}
#layer13{
	background: url(./layers/sun-lite.png) 150% 150% no-repeat;
	background-position: 50% 50%; 
	z-index:0;
}
#layer14{
	background: url(./layers/sky.png) 150% 150% no-repeat;
	background-position: 50% 50%; 
	z-index: -1;
}
#txtlayer{
	z-index: 13;
	font-family: montserrat,sans-serif;
	overflow:hidden;
}
h1{
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 3rem;
	color: #F4A460;
	letter-spacing: 1rem;
	text-align: center;
}
#popupdiv{
	z-index: 13;
	display: flex;
	align-items: center;
	justify-content: space-around;
	background:transparent;
}
.pop{
	visibility: hidden;
	position: absolute;
	top:0;
	left: 0;
	transform: translate(20%,-5%);
	width: 150vw;
	height: 150vh;
}
#popupdivbg{
	background: #000;
	opacity: 0.5;
	z-index: 13;
}
.popup{
	width: 20rem;
	height: 20rem;
	background: #f3b48b;
	border-radius: 25px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	text-transform: none;
	color: white;
	z-index: 14;
	font-family: montserrat,sans-serif;
	font-size: 0.81rem;
	flex-direction: column;
}
p{
	width: 80%;
	height: auto;
	text-align: center;
	letter-spacing: 0.2rem;
}
span{
	background: red;
	color: white;
	opacity: 1;
	width: 40px;
	height: 40px;
	border-radius: 50px;
	font-size: 1rem;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: space-around;
	pointer-events: none;
}
a{
	text-decoration: none;
	color: gray;
}
.pop.show{
	visibility: visible;
	position: absolute;
	top:0;
	left: 0;
	transform: translate(20%,-10%);
	width: 150vw;
	height: 150vh; 
}
@media screen and (max-aspect-ratio: 9/15){
	body{
		width: 100vw;
		height: 100vh;
		background: black;
		overflow: hidden;
	}
	.layers{
		position: absolute;
		top:0; 
		left:25%;
		width: 125vw;
		height: 125vh;
		transform: translate(-20%,10%);
	}
	.pop.show{
		visibility: visible;
		position: absolute;
		top:0;
		left:0;
		width: 100vw;
		height: 100vh; 
	}
}